{% extends "layout.html" %} 
{% block content %}
    {% for todo in todos %}
        <div class="card p-1 m-3">
            <div class="card-body">
                <!-- Display task name -->
                {% if todo.completed %}
                    <h5 class="card-title"><del>{{ todo.name }}</del></h5>
                {% else %}
                    <h5 class="card-title">{{ todo.name }}</h5>
                {% endif %}
                
                <!-- Display task date and description -->
                <p class="card-text text-muted">{{ todo.date_created }}</p>
                <p class="card-text">{{ todo.description }}</p>

                <!-- Update button -->
                <a href="{{ url_for('update_todo', id=todo._id) }}" class="btn btn-outline-info btn-sm">Update</a>

                <!-- Delete button -->
                <form action="{{ url_for('delete_todo', id=todo._id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}
